{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<style>
		label.required:after {
			content: " *";
		}
	</style>

	<section id="about">
		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<div class="col-lg-5">
					<h2 class="mb-4">Register</h2>

					{{ form_errors(registrationForm) }}

					{{ form_start(registrationForm) }}

					{{ form_row(registrationForm.firstname) }}
					{{ form_row(registrationForm.lastname) }}
					{{ form_row(registrationForm.username) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.roles) }}
					{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
					<div>
						<span class="text-muted">
							<small>* :  required fields</small>
						</span>
					</div>
					<button type="submit" class="btn btn-outline-primary mt-4">Submit</button>

					{{ form_end(registrationForm) }}

				</div>
			</div>
		</div>
	</section>
{% endblock %}
