{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_editor_new' ? 'Add' : 'Edit' %}

{% block title %}
	{{ action }}
	editor
{% endblock %}

{% block body %}
	<section class="container px-4">
		<div class="w-50 m-auto">
			<h1>{{ action }}
				editor</h1>

			{{ form_start(form) }}
			{{ form_row(form.name, ) }}
			<button type="submit" class="btn btn-primary">Send</button>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
