{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_book_new' ? 'Add' : 'Edit' %}

{% block title %}
	{{ action }}
	book
{% endblock %}

{% block body %}
	<section class="container px-4">
		<div class="w-50 m-auto">
			<h1>{{ action }}
				book</h1>

			{{ form_start(form) }}
			{{ form_row(form.title,) }}
			{{ form_row(form.isbn, ) }}
			{{ form_row(form.cover, ) }}
			{{ form_row(form.editedAt, ) }}
			{{ form_row(form.plot, ) }}
			{{ form_row(form.pageNumber, ) }}
			{{ form_row(form.status,) }}
			{{ form_row(form.editor, ) }}
			{{ form_row(form.authors, ) }}
			<button type="submit" class="btn btn-primary">Send</button>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
